In [85]:
import pandas as pd

from pprint import pprint

data = pd.read_json('purchase_data.json')
print(data.head())

   Age Gender  Item ID                                  Item Name  Price  \
0   38   Male      165                Bone Crushing Silver Skewer   3.37
1   21   Male      119  Stormbringer, Dark Blade of Ending Misery   2.32
2   34   Male      174                            Primitive Blade   2.46
3   21   Male       92                               Final Critic   1.36
4   23   Male       63                             Stormfury Mace   1.27

             SN
0     Aelalis34
1        Eolo46
2   Assastnya25
3  Pheusrical25
4        Aela59

In [90]:
# Number of players
unique_players = len(data["SN"].unique())
print("Total number of players:", unique_players)

Total number of players: 573

<h1>Purchasing Analysis (Total) </h1>

In [91]:

# * Number of Unique Items
unique_items = len(data['Item ID'].unique())
print("Number of Unique Items:", unique_items)

# * Average Purchase Price
avg_price = round(data["Price"].mean(), 2)
print("Average Purchase Price $", avg_price, sep="")

# * Total Number of Purchases
total_purchases = len(data)
print("Total Purchases:", total_purchases)

# * Total Revenue
total_revenue = round(data["Price"].sum(), 2)
print("Total Revenue: $", total_revenue, sep="")

Number of Unique Items: 183
Average Purchase Price $2.93
Total Purchases: 780
Total Revenue: $2286.33

<h1> **Gender Demographics** </h1>

In [133]:

# Removing duplicate players from the data
data_without_duplicate_players = data.drop_duplicates(subset=["SN"])

# Seperating the no duplicate data into gender groups
gender_groups = data_without_duplicate_players["Gender"].value_counts()

# Printing Percentage of palyers and total count according to their gender
x = pd.DataFrame({"Total Count":gender_groups,
                   "Percentage of Players": round(gender_groups/unique_players * 100, 2)})
print(x)

                       Percentage of Players  Total Count
Male                                   81.15          465
Female                                 17.45          100
Other / Non-Disclosed                   1.40            8

<h1> **Purchasing Analysis (Gender)** </h1>

In [142]:
# Number of purchases by each gender
grouped_data = data.groupby(["Gender"])
for x, y in grouped_data:
    price_column = y["Price"]
    print(x)
    print("Total Purchases By:", len(y))
    print("Average Purchase Price: $", round(price_column.mean(), 2), sep="")
    print("Total Purchase Value: $", round(price_column.sum(), 2), sep="")
#   TODO : Figure out how to calculate Normalized Totals
    print("**************************")
#   * Normalized Totals

Female
Total Purchases By: 136
Average Purchase Price: $2.82
Total Purchase Value: $382.91
**************************
Male
Total Purchases By: 633
Average Purchase Price: $2.95
Total Purchase Value: $1867.68
**************************
Other / Non-Disclosed
Total Purchases By: 11
Average Purchase Price: $3.25
Total Purchase Value: $35.74
**************************

<h1>**Age Demographics**</h1>

In [141]:
grouped_data = data.groupby(["Age"])
for x, y in grouped_data:
    price_column = y["Price"]
    print(x)
    print("Total Purchases By:", len(y))
    print("Average Purchase Price: $", round(price_column.mean(), 2), sep="")
    print("Total Purchase Value: $", round(price_column.sum(), 2), sep="")
#   TODO : Figure out how to calculate Normalized Totals
    print("**************************")

7
Total Purchases By: 19
Average Purchase Price: $2.92
Total Purchase Value: $55.47
**************************
8
Total Purchases By: 3
Average Purchase Price: $1.96
Total Purchase Value: $5.87
**************************
9
Total Purchases By: 6
Average Purchase Price: $3.69
Total Purchase Value: $22.12
**************************
10
Total Purchases By: 4
Average Purchase Price: $3.29
Total Purchase Value: $13.16
**************************
11
Total Purchases By: 9
Average Purchase Price: $2.97
Total Purchase Value: $26.76
**************************
12
Total Purchases By: 5
Average Purchase Price: $3.84
Total Purchase Value: $19.21
**************************
13
Total Purchases By: 11
Average Purchase Price: $2.14
Total Purchase Value: $23.52
**************************
14
Total Purchases By: 6
Average Purchase Price: $2.38
Total Purchase Value: $14.3
**************************
15
Total Purchases By: 47
Average Purchase Price: $2.99
Total Purchase Value: $140.36
**************************
16
Total Purchases By: 23
Average Purchase Price: $2.64
Total Purchase Value: $60.71
**************************
17
Total Purchases By: 17
Average Purchase Price: $3.01
Total Purchase Value: $51.11
**************************
18
Total Purchases By: 24
Average Purchase Price: $2.8
Total Purchase Value: $67.14
**************************
19
Total Purchases By: 22
Average Purchase Price: $3.05
Total Purchase Value: $67.1
**************************
20
Total Purchases By: 98
Average Purchase Price: $2.88
Total Purchase Value: $282.68
**************************
21
Total Purchases By: 43
Average Purchase Price: $2.8
Total Purchase Value: $120.37
**************************
22
Total Purchases By: 68
Average Purchase Price: $3.03
Total Purchase Value: $206.05
**************************
23
Total Purchases By: 57
Average Purchase Price: $2.74
Total Purchase Value: $156.21
**************************
24
Total Purchases By: 70
Average Purchase Price: $3.05
Total Purchase Value: $213.46
**************************
25
Total Purchases By: 67
Average Purchase Price: $3.08
Total Purchase Value: $206.52
**************************
26
Total Purchases By: 13
Average Purchase Price: $2.45
Total Purchase Value: $31.83
**************************
27
Total Purchases By: 19
Average Purchase Price: $3.06
Total Purchase Value: $58.21
**************************
28
Total Purchases By: 5
Average Purchase Price: $2.56
Total Purchase Value: $12.81
**************************
29
Total Purchases By: 21
Average Purchase Price: $2.9
Total Purchase Value: $60.96
**************************
30
Total Purchases By: 18
Average Purchase Price: $3.11
Total Purchase Value: $56.01
**************************
31
Total Purchases By: 16
Average Purchase Price: $2.98
Total Purchase Value: $47.62
**************************
32
Total Purchases By: 11
Average Purchase Price: $3.41
Total Purchase Value: $37.5
**************************
33
Total Purchases By: 11
Average Purchase Price: $2.89
Total Purchase Value: $31.8
**************************
34
Total Purchases By: 8
Average Purchase Price: $3.04
Total Purchase Value: $24.32
**************************
35
Total Purchases By: 12
Average Purchase Price: $3.08
Total Purchase Value: $37.02
**************************
36
Total Purchases By: 7
Average Purchase Price: $2.88
Total Purchase Value: $20.14
**************************
37
Total Purchases By: 9
Average Purchase Price: $2.35
Total Purchase Value: $21.11
**************************
38
Total Purchases By: 9
Average Purchase Price: $2.87
Total Purchase Value: $25.79
**************************
39
Total Purchases By: 5
Average Purchase Price: $3.07
Total Purchase Value: $15.34
**************************
40
Total Purchases By: 14
Average Purchase Price: $3.22
Total Purchase Value: $45.11
**************************
42
Total Purchases By: 1
Average Purchase Price: $2.11
Total Purchase Value: $2.11
**************************
43
Total Purchases By: 1
Average Purchase Price: $3.81
Total Purchase Value: $3.81
**************************
45
Total Purchases By: 1
Average Purchase Price: $2.72
Total Purchase Value: $2.72
**************************

<h1>**Top Spenders**</h1>

In [149]:
# * Identify the the top 5 spenders in the game by total purchase value, then list (in a table):
grouped_data = data.groupby(["SN"])
print(grouped_data["Price"].
# for x, y in grouped_data:
#     print(x)
#     print("Total Spending:", y["Price"].sum())
#     print("*********")


#   * SN
#   * Purchase Count
#   * Average Purchase Price
#   * Total Purchase Value

SN
Adairialis76       2.46
Aduephos78         2.88
Aeduera68          2.35
Aela49             2.46
Aela59             1.27
Aelalis34          3.37
Aelin32            3.14
Aeliriam77         4.95
Aeliriarin93       2.04
Aeliru63           4.83
Aellyria80         4.32
Aellyrialis39      3.15
Aellysup38         3.61
Aelollo59          1.55
Aenarap34          1.65
Aenasu69           3.27
Aeral43            2.72
Aeral85            4.25
Aeral97            2.35
Aeri84             4.25
Aerillorin70       1.88
Aerithllora36      4.06
Aerithnucal56      1.69
Aerithnuphos61     1.69
Aerithriaphos45    2.38
Aesty51            1.82
Aesur96            4.66
Aethe80            2.32
Aethedru70         2.97
Aidain51           4.06
                   ...
Undjaskla97        4.57
Undjasksya56       4.53
Undotesta33        3.90
Wailin72           2.04
Whaestysu86        4.08
Yadacal26          1.93
Yadaisuir65        4.82
Yadanun74          3.61
Yalaeria91         1.88
Yaliru88           3.71
Yalo71             2.41
Yalostiphos68      2.37
Yaralnura48        2.64
Yararmol43         1.55
Yarirarn35         2.88
Yaristi64          1.24
Yarithllodeu72     2.19
Yarithphos28       2.35
Yarithsurgue62     3.70
Yarmol79           2.91
Yarolwen77         4.75
Yasriphos60        4.26
Yasrisu92          2.60
Yasur35            2.78
Yasur85            2.04
Yasurra52          3.14
Yathecal72         4.66
Yathecal82         2.41
Zhisrisu83         1.35
Zontibe81          3.71
Name: Price, Length: 573, dtype: float64